<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lookin' Good</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Lookin' Good</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/temp">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Inspiration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Take The Quiz Again</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">J. Crew</div>
          <div class="intro-lead-in">You will love these preppy clothes at J. Crew! Their reasonable priced clothing is the perfect match for you!</div>
          <br>
          <br>
          <a class="btn btn-primary btn-xl text-uppercase" href="https://www.jcrew.com/"> Go to site!</a>
        </div>
      </div>
    </header>

    
    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Inspiration</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://www.jcrew.com/s7-img-facade/J1496_WT0002_m_a?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://www.jcrew.com/s7-img-facade/J3216_BL8133?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=408&hei=408" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://www.jcrew.com/s7-img-facade/J3882_YL5461?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=408&hei=408" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://www.jcrew.com/s7-img-facade/J5805_PK6603_m_b?fmt=jpeg&qlt=90,0&resMode=sharp&op_usm=.1,0,0,0&wid=636&hei=636" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://fontmeme.com/images/Forever-21-Logo.gif" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://pbs.twimg.com/profile_images/770320292040376320/mMgRkcES_400x400.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://1000logos.net/wp-content/uploads/2017/08/Lululemon-emblem.jpg" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="https://iguatemi.com.br/saopaulo/sites/saopaulo/files/logo-1360257246423.png" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Lookin' Good </h2>
            <h3 class="section-subheading text-muted">Find your brand!</h3>
          </div>
        </div>
        <form action="/results" method="post">
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/993/993062.svg" alt="">               
              </span>
              <h4 class="service-heading">What is your size?</h4>
              <p class="text-muted">
              <input type="radio" name="size" value="0" required> 00-4<br>
              <input type="radio" name="size" value="0" required> 6-14<br>
              <input type="radio" name="size" value="0" required> 14+
            </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/16/16791.svg" alt="">
              </span>
              <h4 class="service-heading">What's your price range?</h4>
              <p class="text-muted">
                <input type="radio" name="price" value="1" required> $0-$25<br>
                <input type="radio" name="price" value="2" required> $25-$75<br>
                <input type="radio" name="price" value="3" required> $75+<br>
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/18/18409.svg" alt="">
              </span>
              <h4 class="service-heading">How would you describe your style?</h4>
              <p class="text-muted">
              <input type="radio" name="style" value="c" required> Casual<br>
              <input type="radio" name="style" value="p" required> Preppy <br>
              <input type="radio" name="style" value="t" required> Trendy<br>
              </p>
            </div>
            <div class="container">
              <br>
              <button class="btn btn-primary btn-xl text-uppercase" type="submit"> Let's find your dream brand! </button>
            </div>
          </div>
        </form>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>

