<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lookin' Good</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="css/agency.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Lookin' Good</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/temp">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Inspiration</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Take The Quiz Again</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-heading text-uppercase">H+M</div>
          <div class="intro-lead-in">You will love these preppy clothes at an affordable price! Perfect for you and your wallet!</div>
          <br>
          <br>
          <a class="btn btn-primary btn-xl text-uppercase" href="http://www2.hm.com/en_us/index.html#modal-1"> Go to site!</a>
        </div>
      </div>
    </header>

    
     <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Inspiration</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/4c/84/4c84df08e12bf28e6e0fc183fa679dee34af8bf0.jpg],origin[dam],category[ladies_dresses_shortdresses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/a8/3c/a83c9188cf3965052ec69a976dc1927ef78a00c2.jpg],origin[dam],category[ladies_dresses_shortdresses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/c5/b2/c5b2e187ee97945ed25334b61f011d82ea813593.jpg],origin[dam],category[ladies_dresses_shortdresses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/46/bc/46bcc7a69b10fe977da14eadb58358dc7ed3acf0.jpg],origin[dam],category[ladies_dresses_shortdresses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/56/fc/56fc1cf3e7b82bea7afe5c635379529f6c68a5d8.jpg],origin[dam],category[ladies_shirtsblouses_blouses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/d9/71/d971355f82d14064856c83c1c47053021874b38a.jpg],origin[dam],category[],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/08/e0/08e01f53ca8900ce0041c6b3c15fa87c62330cf8.jpg],origin[dam],category[ladies_shirtsblouses_blouses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="http://lp2.hm.com/hmgoepprod?set=source[/d6/48/d648fc554b8ddd7684d4b9d2fdfb54a42422bb5f.jpg],origin[dam],category[ladies_shirtsblouses_blouses],type[DESCRIPTIVESTILLLIFE],hmver[1]&call=url[file:/product/style]" alt="">
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
              <img class="img-fluid" src="" alt="">
          </div>
        </div>
      </div>
    </section>
    
    <!-- Services -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">Lookin' Good </h2>
            <h3 class="section-subheading text-muted">Find your brand!</h3>
          </div>
        </div>
        <form action="/results" method="post">
          <div class="row text-center">
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                  <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/993/993062.svg" alt="">               
              </span>
              <h4 class="service-heading">What is your size?</h4>
              <p class="text-muted">
              <input type="radio" name="size" value="0" required> 00-4<br>
              <input type="radio" name="size" value="0" required> 6-14<br>
              <input type="radio" name="size" value="0" required> 14+
            </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/16/16791.svg" alt="">
              </span>
              <h4 class="service-heading">What's your price range?</h4>
              <p class="text-muted">
                <input type="radio" name="price" value="1" required> $0-$25<br>
                <input type="radio" name="price" value="2" required> $25-$75<br>
                <input type="radio" name="price" value="3" required> $75+<br>
              </p>
            </div>
            <div class="col-md-4">
              <span class="fa-stack fa-4x">
                <img class="rounded-circle img-fluid" src="https://image.flaticon.com/icons/svg/18/18409.svg" alt="">
              </span>
              <h4 class="service-heading">How would you describe your style?</h4>
              <p class="text-muted">
              <input type="radio" name="style" value="c" required> Casual<br>
              <input type="radio" name="style" value="p" required> Preppy <br>
              <input type="radio" name="style" value="t" required> Trendy<br>
              </p>
            </div>
            <div class="container">
              <br>
              <button class="btn btn-primary btn-xl text-uppercase" type="submit"> Let's find your dream brand! </button>
            </div>
          </div>
        </form>
      </div>
    </section>


    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/agency.min.js"></script>

  </body>

</html>

